{% extends "layout.html" %}


{% block title %}
    homepage
{% endblock  %}

{% block content %}

{% endblock  %}

{% block login %}
    {% if user.is_authenticated %}
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="bg-red-500 text-white p-2 rounded-lg">
                Logout
            </button>
        </form>
    {% else %}
    <!-- Optionally, show login/register links if not logged in -->
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
    
{% endblock  %}